
.integrationList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px; /* Gap between grid items */
    .integrationItem{
        border: 1px solid black;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        // max-width: 1in;
        .integrationIcons{
            display: flex;
            width : 100%;
            gap: 10px;
        }
    }
    .integrationLink{
        cursor: pointer;
    }
}