.chatbotContainer {
  width: 30vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-right: 1px solid #a59c9c;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #7a7373;
  margin-left: 10px;
  margin-bottom: 3rem;
  margin-right: 10px;
}

.chatWindow {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sentMessage {
  align-self: flex-end;
  background-color: #242331;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 16px;
  max-width: 80%;
  word-wrap: break-word;
}

.receivedMessage {
  align-self: flex-start;
  background-color: #e1e1e1;
  color: black;
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 16px;
  max-width: 80%;
  word-wrap: break-word;
}

.inputContainer {
  padding: 10px;
  display: flex;
  border-top: 1px solid #ddd;
}

.messageInput {
  flex: 1;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid #ddd;
  font-size: 1.1rem;
}

.sendButton {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #0056b3;
}

.thinkingMessage {
  text-align: center;
  color: #888;
  padding: 10px;
  font-style: italic;
}

.revertButton{
  display: block;
  margin: auto;
  font-size: 1.4rem;
  padding: 0 10px;
  color: #888;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}