.popupContainer {
  position: absolute;
  top: 0rem;
  right: 0rem; 
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 250px; 
}

.userDetails p {
  margin: 0.5rem 0;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
}

.logoutButton {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 55px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #c9302c;
}
.signInButton {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #42eb67;
  color: #fff;
  border: none;
  border-radius: 55px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

